<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <div>
        <h1>Region:</h1>
        <p>{{ region }}</p>
        <h1>Zone:</h1>
        <p>{{ zone }}</p>
        <h1>Subnet:</h1>
        <p>{{ subnet }}</p>
        <h1>Instance ID:</h1>
        <p>{{ instance_id }}</p>
        <h1>Response from another web application:</h1>
        <p>{{ data }}</p>
    </div>
</body>
</html>
